.body{
    background-color: #3d3d3d;
}

.chil{
   
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}

.App{
    border: 1px solid #3d3d3d;
    margin: 50px 30px;
    padding: 25px 15px;
    width: 30%;
    height: 40%;
    border-radius: 10px;
    box-shadow: 10px 10px #6d588e, 20px 20px #405378;
 
}


.App h1{
    text-align: center;
    color: aliceblue;
}

.container{

    display: flex;
    flex-direction: column;

}
.container ul li{
    width: 180px;
    overflow-wrap: break-word;
    list-style-type: "🔻";
    cursor: pointer;
}

.done{
    text-decoration: line-through;
}

.item{
    display: flex;
    justify-content: space-between;
    color: white;
}
.exit{
    cursor: pointer;
}

.btn{
    margin: 7px;
    padding: 7px;
    background-color: rgb(83, 177, 83);
    border: 2px;
    border-radius: 5px;
    font-size: medium;
}
.inp{
    margin-left: 85px;
    font-size: .8rem;
    padding : 7px;
    width: 50%;
    border-radius: 3px;
    color: rgb(56, 52, 52);
}

